/* common */
.desktoptemplate{
    display: block;
}
.mobiletemplate{
    display: none;
    height:100%;
}

html, body {
    position: relative;
    height: 100%;
} 

body{
    font-family: "Arial";  
}
.lsinopac{
    height:100%;
}

.swiper-container {
    width: 100%;
    height: 100%;
} 
.swiper-slide {
    font-size: 18px;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 30px;
}     

.lsinopac .downval {
    color: #01A57A;
}

.lsinopac .upval {
    color: #D73B3C;
}

#lsinopac-curtain {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9990;
}

.sinopactable thead td{
    color: white;
    height: 50px;
    line-height: 50px;
    font-size: 15px;
    font-weight: 400;
    padding: 1px 10px 0px 10px;

    background: #F04546; /* Old browsers */
    background: -moz-linear-gradient(top, #F04546 0%, #E52B32 50%, #E52B32 51%, #D80E16 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #F04546 0%,#E52B32 50%,#E52B32 51%,#D80E16 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #F04546 0%,#E52B32 50%,#E52B32 51%,#D80E16 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F04546', endColorstr='#D80E16',GradientType=0 ); /* IE6-9 */                

}

.sinopactable .datablockend{
    border-bottom: 1px solid black;
    padding:0px;
    margin: 10px 0px 10px 0px;
}

arrow-placeholder {
    border: solid #666560;;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
}

.arrow-right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.arrow-left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.arrow-up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.arrow-down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.page-link{
    border: 0px;
    color: #666560;
}
.page-item.active .page-link{
    background-color: transparent;
    color: #FC0001;
}
.page-item.disabled .page-link{
    color: #b5babe;
}

/*
We set the element we are applying our loading mask to relative  
*/
.loading-mask {
  position: relative;
}

/*
Because we set .loading-mask relative, we can span our ::before  
element over the whole parent element  
*/
.loading-mask::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
  z-index:2000;
}

/*
Spin animation for .loading-mask::after  
*/
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/*
The loading throbber is a single spinning element with three  
visible borders and a border-radius of 50%.  
Instead of a border we could also use a font-icon or any  
image using the content attribute.  
*/
.loading-mask::after {
  content: "";
  position: absolute;
  border-width: 3px;
  border-style: solid;
  border-color: transparent rgb(255, 255, 255) rgb(255, 255, 255);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  /*top: calc(50% - 12px); */
  top: calc(15% - 12px);
  left: calc(50% - 12px);
  animation: 2s linear 0s normal none infinite running spin;
  filter: drop-shadow(0 0 2 rgba(0, 0, 0, 0.33));
  z-index:2000;
}
