body{background-color:#f9fbff;}
.content_area { display: flex}
.content_area .content_box{width: 100%;padding-right: 47px;background-color: #FFF;padding: 32px; border-radius: 2px;
    border: solid 1px #e6ebf5;}
.content_area .content_box .content_title{color: #0d1623;line-height: 1.4;letter-spacing: -0.3px;font:24px bold PingFangTC}
.content_area .content_box .content_class{color: #3f5372;display: flex;}
.content_area .content_box .content_class .class_tag span{margin-left: 0.8em;color:#daa360}
.content_area .content_box .content_detail{color: #0d1623;line-height: 1.6;letter-spacing: -0.2px;font:16px 600 PingFangTC;
    padding-top: 1em;border: solid 1px #e6ebf5;}
.content_area .link_box{min-width: 345px;}
.content_area .link_box .link_tag{font:20px PingFangTC;border-left: 4px solid #daa360; padding-left: 12px;line-height: 1;}
.content_area .link_box .link_list{margin:23px 0;padding: 32px;font:16px PingFangTC ;font-weight: 500; color:#0d1623}
.content_area .link_box .link_list>div{padding:0.8em 0;border-top: 1px solid #e6ebf5;}
.content_area .link_box .link_list>div:first-child{border-top: none;}
.content_area .link_box .link_list .announce_date{font:16px Roboto ;font-weight: normal; color:#a9b6cb}